.layout__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1336px) {
  .layout__card {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    box-sizing: border-box;
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .layout__card {
    grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
    column-gap: 14px;
    row-gap: 24px;
    padding: 20px 0 44px;
  }
}
