.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 82px;
  & p {
    margin-top: 18px;
  }
}

.left {
  grid-column: 1;
  margin-top: 50px;
}

.right {
  grid-column: 2;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    margin-top: 0;
    & p {
      margin-top: 14px;
    }
  }
  .left {
    margin-top: 12px;
  }
  .left,
  .right {
    display: flex;
    flex-direction: column;
  }
}