.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 82px;
  margin-top: 50px;
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 2;
}

@media (min-width: 320px) {
  .layout {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .left {
    margin-top: 12px;
  }
  .left,
  .right {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}