.auth {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 554px;
  box-sizing: border-box;
  padding: 90px 68px 40px 50px;

  display: flex;
  flex-direction: column;

  background-color: white;
  transform: translateX(100vw);
  transition: all 0.3s linear;
}

.open {
  transform: translateX(0);
}

.button {
  width: 20px;
  height: 20px;
  margin-left: auto;
  &:hover svg * {
    fill: #000;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-top: 30px;
}

.submit {
  width: 454px;
  height: 54px;
  border-radius: 30px;
  background: #ff8a1e;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .auth {
    padding: 20px;
  }
  .button {
    margin: 0 0 26px 0;
    & svg {
      width: 16px;
      height: 16px;
    }
  }
  .submit {
    width: 280px;
    height: 40px;
  }
}

