@media (max-width: 767px) {
  .search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    box-sizing: border-box;
    padding: 24px 20px;
  
    background-color: white;
    transform: translateX(-100%);
    transition: all 0.3s linear;
  }
}

.open {
  transform: translateX(0);
}
