.layout {
  container-type: inline-size;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 56px;
  row-gap: 48px;
  margin-top: 48px;
}

.tels,
.city,
.company {
  display: flex;
  flex-direction: column;
}

.tels {
  grid-column: 1/2;
  grid-row: 1/2;
  & a {
    color: #000;
    transition: all 0.2s linear;
    &:last-child {
      text-decoration: underline;
    }
    &:hover {
      color: #7d7d7d;
    }
  }
}

.city {
  grid-column: 2/3;
  grid-row: 1/2;
}

.company {
  grid-column: 3/4;
  grid-row: 1/2;
}

.social {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  column-gap: 18px;
  & img {
    width: 100px;
    height: 100px;
  }
}
.image {
  position: absolute;
  top: -6rem;
  right: -79px;
  z-index: -1;
  width: 62cqi;
  max-width: 496px;
}

@media (max-width: 1336px) {
  .layout {
    position: relative;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    column-gap: 34px;
    row-gap: 16pxpx;
  }
  .city {
    grid-column: 2/4;
    justify-self: center;
  }
  .company {
    grid-column: 4/5;
  }
  .image {
    top: 9rem;
  }
}

@media (max-width: 767px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 0;
    margin-top: 12px;
  }

  .tels,
  .city,
  .company,
  .social {
    grid-column: 1/2;
  }
  .city {
    justify-self: flex-start;
  }
  .city,
  .company,
  .social {
    margin-top: 48px;
  }
  .tels {
    grid-row: 1;
  }
  .city {
    grid-row: 2;
  }
  .company {
    grid-row: 3;
  }
  .social {
    grid-row: 4;
  }
  .image {
    position: static;
    width: 100cqi;
    max-width: 382px;
    margin: 80px auto;

  }
}
