.layout {
  containe-type: inline-size;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 56px;
  row-gap: 48px;
}

.tels,
.city,
.company {
  display: flex;
  flex-direction: column;
}

.tels {
  grid-column: 1/2;
  grid-row: 2/3;
  & a {
    color: #000;
    transition: all 0.2s linear;
    &:last-child {
      text-decoration: underline;
    }
    &:hover {
      color: #7d7d7d;
    }
  }
}

.city {
  grid-column: 2/3;
  grid-row: 2/3;
}

.company {
  grid-column: 3/4;
  grid-row: 2/3;
}

.social {
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  column-gap: 18px;
  & img {
    width: 100px;
    height: 100px;
  }
}
.image {
  width: 62cqi;
  max-width: 590px;
  margin: 0 auto;
}

@media (max-width: 1336px) {
  .layout {
    position: relative;
    grid-template-rows: 0fr 1fr;
    column-gap: 34px;
    row-gap: 16pxpx;
  }
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 0;
    margin-top: 12px;
  }

  .tels,
  .city,
  .company,
  .social {
    grid-column: 1/2;
  }
  .city,
  .company,
  .social {
    margin-top: 48px;
  }
  .tels {
    grid-row: 1;
  }
  .city {
    grid-row: 2;
  }
  .company {
    grid-row: 3;
  }
  .social {
    grid-row: 4;
    justify-content: center;
  }
}
