.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 56px;
  row-gap: 48px;
}

.tels,
.city,
.company {
  display: flex;
  flex-direction: column;
}

.tels {
  grid-column: 1/2;
  grid-row:2/3;
  & a {
    color: #000;
    transition: all 0.2s linear;
    &:last-child {
      text-decoration: underline;
    }
    &:hover {
      color: #7d7d7d;
    }
  }
}

.city {
  grid-column: 2/3;
  grid-row: 2/3;

}

.company {
  grid-column: 3/4;
  grid-row: 2/3;
}

.social {
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  column-gap: 56px;
  & img {
    width: 100px;
    height: 100px;
  }
}

.image {
  grid-column: 4/5;
  grid-row: 1/4;
}

@media (min-width: 320px) {
  .main {
    box-sizing: border-box;
    padding: 20px 0;
  }
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
    margin-top: 12px;
  }

  .tels,
  .city,
  .company,
  .social {
    grid-column: 1/2;
  }
  .tels {
    grid-row: 1;
  }
  .city{
    grid-row: 2;
  }
  .company {
    grid-row: 3;
  }
  .social {
    grid-row: 4;
    justify-content: center;
  }
  .image {
    grid-column: 1;
    grid-row: 5;
  }
}
