.user {
  display: flex;
  column-gap: 36px;
  margin-top: 68px;
  & p {
    font-weight: 700;
  }
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 30px;
}

.button {
  margin: auto 0 0 auto;
  text-decoration: underline;
  transition: all .2s linear;
  &:hover {
    color: #FF9900;
  }
}


@media (max-width: 767px) {
  .avatar {
    width: 200px;
    height: 200px;
  }
}


@media (max-width: 767px) {
  .user {
    flex-direction: column;
    margin-top: 20px;
  }
  .info {
    margin-top: 20px;
  }
}
