.iconbox {
  &:hover .icon * {
    stroke: #ff9900;
  }
}
.icon {
  width: 48px;
  height: 48px;
  transition: all 0.2s linear;
}

@media (max-width: 1336px) {
  .icon {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 767px) {
  .icon {
    width: 64px;
    height: 64px;
  }
}
