.order {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  width: 554px;
  box-sizing: border-box;
  padding: 50px 50px 40px 20px;

  display: flex;
  flex-direction: column;

  background-color: white;
  transform: translateX(100vw);
  transition: all 0.3s linear;
}

.open {
  transform: translateX(0);
}

.chapter {
  color: #1bb40d;
  margin-top: 90px;
}

.goto {
  color: #000;
  transition: all 0.2s linear;
  &:hover {
    color: #ff9900;
  }
}

@media (max-width: 1336px) {
  .order {
    width: 378px;
    padding: 36px 20px 100px 30px;
    overflow: auto;
    & h1 {
      font-size: 24px;
    }
    & h1,
    p,
    img {
      width: 277px;
    }
  }
}

@media (max-width: 767px) {
  .order {
    width: 100%;
    padding: 20px 20px 80px 20px;
  }

  .chapter,
  .desc,
  .goto {
    margin-top: 24px;
  }
}
