.order {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 554px;
  box-sizing: border-box;
  padding: 90px 68px 40px 50px;

  display: flex;
  flex-direction: column;

  background-color: white;
  transform: translateX(100vw);
  transition: all 0.3s linear;
}

.open {
  transform: translateX(0);
}

.button {
  width: 20px;
  height: 20px;
  margin-left: auto;
  &:hover svg * {
    fill: #000;
  }
}

.chapter {
  color: #1bb40d;
  margin-top: 90px;
}

.goto {
  color: #000;
  transition: all .2s linear;
  &:hover {
    color: #FF9900;
  }
}

@media (max-width: 768px) {
  .order {
    width: 100%;
    padding: 20px 20px 80px 20px;
    overflow: auto;
  }

  .chapter,
  .desc,
  .goto {
    margin-top: 24px;
  }
}
