.image {
  border-radius: 30px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin: 30px 10px 0;
  color: #000;
}

.price {
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin: 30px 10px 0;
}

.counter {
  width: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon__plus .icon__minus {
  width: 16px;
  height: 16px;
}

.number {
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.5px;
}

.icon__bin {
  width: 48px;
  height: 48px;
}

@media (max-width: 1336px) {
  .image {
    border-radius: 20px;
  }
 .title {
  font-size: 14px;
  line-height: 22px;
  margin: 14px 0 0 0;
 }
 .price {
  font-size: 18px;
  line-height: 22px;
  margin: 14px 0 0 0;
 }
 .icon__bin {
  width: 40px;
  height: 40px;
 }
}

@media (max-width: 768px) {
  .image {
    border-radius: 0;
  }
 .title {
  font-size: 14px;
  line-height: 22px;
  margin: 14px 0 0 0;
 }
 .icon__bin {
  width: 36px;
  height: 36px;
 }
}
