.burger {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 554px;
  box-sizing: border-box;
  padding: 40px 40px 0 120px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  background-color: white;
  transform: translateX(-100%);
  transition: all 0.3s linear;
  & a {
    color: #000;
    transition: all 0.2s linear;
    &:hover {
      color: #ff9900;
    }
  }
}

.open {
  transform: translateX(0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 206px;
  height: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 72px;
}

@media (max-width: 768px) {
  .burger {
    width: 100%;
    padding: 24px 20px;
  }
  .header {
    justify-content: flex-start;
  }
  .logo {
    display: none;
  }

  .main {
    margin-top: 0;
  }
}
