.layout {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 38px;
}

.shopcard {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  height: 300px;
  border-bottom: 1px solid #e9e5e5;
  box-sizing: border-box;
  padding: 48px 0;
}

.footer {
  box-sizing: border-box;
  /* padding: 36px 0 60px; */
  &__price {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
  }
  &__clear {
    text-decoration: underline;
    margin: 48px 0 0 0;
    transition: all 0.2s linear;
    &:hover {
      color: #ff9900;
    }
  }
  &__check {
    width: 390px;
    height: 54px;
    border-radius: 50px;
    background-color: #ff8a1e;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 48px;
  }
}

.right {
  justify-self: flex-end;
  width: 390px;
  /* height: 428px; */
  &__button {
    margin: 6px auto;
    margin-left: 3rem;

    width: 410px;
    height: 54px;
    border-radius: 50px;
    background-color: #ff8a1e;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 1336px) {
  .right {
    width: 231px;
  }
  .footer {
    &__check {
      width: 230px;
      height: 38px;
      font-size: 14px;
      margin-top: 28px;
    }
    &__clear {
      margin-top: 30px;
    }
  }
}

@media (max-width: 991px) {
  .layout {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .text {
    margin-top: 16px;
  }

  .shopcard {
    grid-template-columns: auto 1fr;
    grid-template-rows: 0fr 0fr;
    height: fit-content;
    padding: 20px 0;
  }

  .right {
    width: 100%;
    height: fit-content;
  }
  .footer {
    &__check {
      float: right;
      width: 157px;
      height: 34px;
      font-size: 14px;
      margin: 26px 0 0;
    }
    &__clear {
      margin: 26px 0 0;
    }
    &__price {
      margin: 16px 0 0;
    }
  }
}
