.content {
  display: flex;
  justify-content: space-between;
  height: 102px;
}

.logo {
  width: 140px;
  height: 40px;
  margin-top: 33px;
}

.links {
  display: flex;
  column-gap: 20px;
  margin-top: 40px;
}

.link {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #000;
}

.tel {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 28px;
  color: #000;
  transition: all 0.2s linear;
  &:hover {
    color: #ff9900;
  }
}

@media (max-width: 768px) {
  .content {
    height: 50px;
  }

  .logo {
    width: 115px;
    margin-top: 11px;
  }

  .links,
  .tel {
    display: none;
  }
}
