.footer {
  height: 424px;
  background-color: #f8f8f8;
}

.layout {
  box-sizing: border-box;
  padding: 48px 0 54px;
}

.logo {
  width: 172px;
  height: 50px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 12px;
  & p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }
  & a {
    color: #000;
    transition: all 0.2s linear;
    &:hover {
      color: #ff9900;
    }
  }

  .social {
    display: flex;
  }
}

.column {
  justify-self: center;
}

@media (max-width: 768px) {
  .footer {
    height: 100%;
  }

  .logo {
    width: 115px;
  }

  .content {
    grid-template-columns: 1fr;
    row-gap: 20px;

    & p {
      font-size: 12px;
    }
  }
  .column {
    justify-self: flex-start;
  }
}
