.images {
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  cursor: pointer;
  &:hover {
    border: 1px solid #ff9900;
  }
}

.content {
  grid-column: 2/4;
  grid-row: 1;
  cursor: pointer;
  &:hover h3 {
    color: #ff9900;
  }
}

.title {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-start;
}
.description {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}
.price {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
}
.button {
  grid-column: 3;
  grid-row: 1;
  width: 38px;
  height: 38px;
}

@media (max-width: 1336px) {
  .images {
    width: 64px;
    height: 64px;
  }
  .price {
  grid-row: 1;
}
}

@media (max-width: 767px) {
  .images {
    width: 64px;
    height: 64px;
  }
  .title {
    grid-column: 2/4;
    grid-row: 1;
  }
  .description {
    grid-column: 2/4;
    grid-row: 1;
  }
  .price {
    grid-column: 2/3;
    grid-row: 2;
    align-self: center;
  }
  .button {
    grid-column: 3/4;
    grid-row: 2;
    width: 28px;
    height: 28px;
  }
}
